/* To center images */
.center-image
{
    margin: 0 auto;
    display: block;
}

.sidebar .small-print {
    font-size: 0.8rem
}

@media (min-width: 48em) {
    .sidebar .small-print {
        font-size: 1rem
    }
}

.sidebar a img {
    display: inline;
}

.sidebar .active {
  font-weight: bold;
}
